<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680365407770-qh51h37p01tmgjpat5t0l4o3u2i7toaf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680365407770-qh51h37p01tmgjpat5t0l4o3u2i7toaf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>680365407770-ldi90pis19oma6vkojm5l53nfenidqk0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBYFtaEeoK74M8UpHfiR5-vSH06OnqjJS8</string>
	<key>GCM_SENDER_ID</key>
	<string>680365407770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moasanuma.jobHantingApp</string>
	<key>PROJECT_ID</key>
	<string>job-hunting-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>job-hunting-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680365407770:ios:9ca0f089a64dda7554dba3</string>
</dict>
</plist>